// General
$focusShadowWidth: 0.25rem;
$primaryColor: var(--primary-color);
$primaryColorHover: var(--primary-hoverColor);
$secondaryColor: $gray-900;
$secondaryColorHover: $gray-800;
$tertiaryColor: $gray-200;
$tertiaryColorHover: $gray-300;
$highlightBg: $primaryColor;
$primaryColorText: $black-100;
$highlightTextColor: $primaryColorText;
$textColor: var(--text-color);
$textSecondaryColor: $gray-500;
$borderColor: $secondaryColor;
$dividerColor: $surface-border;
$disabledBg: $gray-200;
$disabledBorderColor: $gray-400;
$focusOutlineColor: $primary-200;
$focusBorderColor: $primary-600;
$errorColor: $danger-600;
$focusOutlineErrorColor: $danger-100;
$maskBg: $surface-overlay;
$actionIconBg: $surface-transparent;
$actionIconColor: $black-60;
$actionIconBorderColor: $surface-transparent;
$actionIconHoverBg: $surface-hover;
$actionIconHoverColor: $black-80;
$actionIconHoverBorderColor: $surface-transparent;
$fontFamily: var(--fontFamily-primary);
$fontFamilySecondary: var(--fontFamily-secondary);
$fontWeight: normal;
$disabledOpacity: 0.6;
$divider: 1px solid $dividerColor;
$focusOutline: none;
$focusOutlineOffset: none;
$focusShadow: 0 0 0 $focusShadowWidth $focusOutlineColor;
$focusShadowError: 0 0 0 $focusShadowWidth $focusOutlineErrorColor;
$transitionDuration: 0.2s;
$formElementTransition:
  background-color $transitionDuration,
  color $transitionDuration,
  border-color $transitionDuration,
  box-shadow $transitionDuration;
$actionIconBorder: 1px solid $actionIconBorderColor;
$actionIconTransition:
  background-color $transitionDuration,
  color $transitionDuration,
  box-shadow $transitionDuration;
$scaleSM: 0.875;
$scaleLG: 1.25;
$fontSize: 1rem;
$borderRadius: 0.5rem;
$borderRadiusLG: 0.5rem;
$borderRadiusXL: 0.75rem;
$borderRadius2XL: 1rem;
$borderRadius3XL: 1.5rem;
$borderRadiusFull: 7.142857142857143rem;
$inlineSpacing: 0.5rem;
$primeIconFontSize: 1rem;
$loadingIconFontSize: 2rem;
$actionIconWidth: 2rem;
$actionIconHeight: 2rem;
$actionIconBorderRadius: $borderRadiusXL;

// Button/Common
$buttonHoverShadowColor: $gray-300;
$buttonHeight: 2.5rem;
$buttonHeightSM: 2rem;
$buttonHeightLG: 3.5rem;
$buttonHeightXL: 4rem;
$buttonPaddingTopBottom: 0rem;
$buttonPaddingLeftRight: 1rem;
$buttonPadding: $buttonPaddingTopBottom $buttonPaddingLeftRight;
$buttonIconOnlyWidth: $buttonHeight;
$buttonHoverShadow: 0 0.25rem 0.25rem 0 $buttonHoverShadowColor;
$roundedButtonBorderRadius: 100px;

// Button/Brand
$buttonBg: $primaryColor;
$buttonTextColor: $primaryColorText;
$buttonBorderColor: $surface-transparent;
$buttonBorder: 1px solid $buttonBorderColor;
$buttonHoverBg: $primaryColorHover;
$buttonHoverTextColor: $primaryColorText;
$buttonActiveBg: $buttonBg;
$buttonActiveTextColor: $buttonTextColor;

// Button/Primary
$secondaryButtonBg: $secondaryColor;
$secondaryButtonTextColor: $white-100;
$secondaryButtonBorderColor: $surface-transparent;
$secondaryButtonHoverBg: $secondaryColorHover;
$secondaryButtonHoverTextColor: $white-100;
$secondaryButtonHoverBorderColor: $surface-transparent;
$secondaryButtonActiveBg: $secondaryButtonBg;
$secondaryButtonActiveTextColor: $secondaryButtonTextColor;
$secondaryButtonActiveBorderColor: $surface-transparent;

// Button/Secondary
$helpButtonBg: $tertiaryColor;
$helpButtonTextColor: $primaryColorText;
$helpButtonBorderColor: $surface-transparent;
$helpButtonHoverBg: $tertiaryColorHover;
$helpButtonHoverTextColor: $secondaryColor;
$helpButtonHoverBorderColor: $surface-transparent;
$helpButtonActiveBg: $helpButtonBg;
$helpButtonActiveTextColor: $helpButtonTextColor;
$helpButtonActiveBorderColor: $surface-transparent;

// Button/Disabled
$disabledButtonBg: $disabledBg;
$disabledButtonTextColor: $textSecondaryColor;
$disabledButtonBorderColor: $disabledBorderColor;

// Button/Outlined
$outlinedButtonBg: $surface-transparent;
$outlinedButtonTextColor: $buttonBg;
$outlinedButtonBorderColor: $buttonBg;
$outlinedButtonHoverBg: $surface-transparent;
$outlinedButtonHoverTextColor: $primary-600;
$outlinedButtonHoverBorderColor: $primary-600;
$outlinedButtonActiveBg: $surface-transparent;
$outlinedButtonActiveTextColor: $buttonBg;
$outlinedButtonActiveBorderColor: $buttonBg;

// Button/Text
$textButtonBg: $surface-transparent;
$textButtonTextColor: $primaryColorText;
$textButtonHoverBg: $gray-200;
$textButtonHoverTextColor: $primaryColorText;
$textButtonActiveBg: $textButtonBg;
$textButtonActiveTextColor: $primaryColorText;

// Button/Link
$linkButtonBg: $white-100;
$linkButtonTextColor: $primaryColorText;
$linkButtonHoverBg: $white-100;
$linkButtonHoverTextColor: $gray-500;
$linkButtonActiveBg: $white-100;
$linkButtonActiveTextColor: $primaryColorText;
$linkDisabledButtonBg: $white-100;
$linkDisabledButtonTextColor: $gray-500;
$linkDisabledButtonBorderColor: $surface-transparent;

// Button/Severity/Secondary/Outlined
$secondaryOutlinedButtonBg: $surface-transparent;
$secondaryOutlinedButtonTextColor: $secondaryButtonBg;
$secondaryOutlinedButtonBorderColor: $secondaryButtonBg;
$secondaryOutlinedButtonHoverBg: $surface-transparent;
$secondaryOutlinedButtonHoverTextColor: $gray-600;
$secondaryOutlinedButtonHoverBorderColor: $gray-600;
$secondaryOutlinedButtonActiveBg: $surface-transparent;
$secondaryOutlinedButtonActiveTextColor: $secondaryButtonBg;
$secondaryOutlinedButtonActiveBorderColor: $secondaryButtonBg;

// Button/Severity/Secondary/Text
$secondaryTextButtonBg: $surface-transparent;
$secondaryTextButtonTextColor: $white-100;
$secondaryTextButtonHoverBg: $black-10;
$secondaryTextButtonHoverTextColor: $white-100;
$secondaryTextButtonActiveBg: $secondaryTextButtonBg;
$secondaryTextButtonActiveTextColor: $secondaryTextButtonTextColor;

// Button/Severity/Danger/Basic
$dangerButtonBg: $danger-300;
$dangerButtonTextColor: $primaryColorText;
$dangerButtonBorderColor: $surface-transparent;
$dangerButtonHoverBg: $danger-400;
$dangerButtonHoverTextColor: $primaryColorText;
$dangerButtonHoverBorderColor: $surface-transparent;
$dangerButtonActiveBg: $dangerButtonBg;
$dangerButtonActiveTextColor: $primaryColorText;
$dangerButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Danger/Outlined
$dangerOutlinedButtonBg: $surface-transparent;
$dangerOutlinedButtonTextColor: $danger-500;
$dangerOutlinedButtonBorderColor: $danger-500;
$dangerOutlinedButtonHoverBg: $surface-transparent;
$dangerOutlinedButtonHoverTextColor: $danger-600;
$dangerOutlinedButtonHoverBorderColor: $danger-600;
$dangerOutlinedButtonActiveBg: $surface-transparent;
$dangerOutlinedButtonActiveTextColor: $danger-500;
$dangerOutlinedButtonActiveBorderColor: $danger-500;

// Button/Severity/Danger/Text
$dangerTextButtonBg: $surface-transparent;
$dangerTextButtonTextColor: $danger-500;
$dangerTextButtonHoverBg: $danger-100;
$dangerTextButtonHoverTextColor: $danger-600;
$dangerTextButtonActiveBg: $surface-transparent;
$dangerTextButtonActiveTextColor: $dangerTextButtonTextColor;

// Button/Severity/Warning/Basic
$warningButtonBg: $warning-300;
$warningButtonTextColor: $primaryColorText;
$warningButtonBorderColor: $surface-transparent;
$warningButtonHoverBg: $warning-400;
$warningButtonHoverTextColor: $primaryColorText;
$warningButtonHoverBorderColor: $surface-transparent;
$warningButtonActiveBg: $warningButtonBg;
$warningButtonActiveTextColor: $primaryColorText;
$warningButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Success/Basic
$successButtonBg: $success-300;
$successButtonTextColor: $primaryColorText;
$successButtonBorderColor: $surface-transparent;
$successButtonHoverBg: $success-400;
$successButtonHoverTextColor: $primaryColorText;
$successButtonHoverBorderColor: $surface-transparent;
$successButtonActiveBg: $successButtonBg;
$successButtonActiveTextColor: $primaryColorText;
$successButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Success/Outlined
$successOutlinedButtonBg: $surface-transparent;
$successOutlinedButtonTextColor: $success-500;
$successOutlinedButtonBorderColor: $success-500;
$successOutlinedButtonHoverBg: $surface-transparent;
$successOutlinedButtonHoverTextColor: $success-600;
$successOutlinedButtonHoverBorderColor: $success-600;
$successOutlinedButtonActiveBg: $surface-transparent;
$successOutlinedButtonActiveTextColor: $success-500;
$successOutlinedButtonActiveBorderColor: $success-500;

// Button/Severity/Success/Text
$successTextButtonBg: $surface-transparent;
$successTextButtonTextColor: $success-500;
$successTextButtonHoverBg: $success-100;
$successTextButtonHoverTextColor: $success-600;
$successTextButtonActiveBg: $surface-transparent;
$successTextButtonActiveTextColor: $successTextButtonTextColor;

// Button/Severity/Info/Basic
$infoButtonBg: $info-300;
$infoButtonTextColor: $primaryColorText;
$infoButtonBorderColor: $surface-transparent;
$infoButtonHoverBg: $info-400;
$infoButtonHoverTextColor: $primaryColorText;
$infoButtonHoverBorderColor: $surface-transparent;
$infoButtonActiveBg: $infoButtonBg;
$infoButtonActiveTextColor: $primaryColorText;
$infoButtonActiveBorderColor: $surface-transparent;

// Button/Severity/Info/Outlined
$infoOutlinedButtonBg: $surface-transparent;
$infoOutlinedButtonTextColor: $info-500;
$infoOutlinedButtonBorderColor: $info-500;
$infoOutlinedButtonHoverBg: $surface-transparent;
$infoOutlinedButtonHoverTextColor: $info-600;
$infoOutlinedButtonHoverBorderColor: $info-600;
$infoOutlinedButtonActiveBg: $infoOutlinedButtonBg;
$infoOutlinedButtonActiveTextColor: $info-500;
$infoOutlinedButtonActiveBorderColor: $info-500;

// Button/Severity/Info/Text
$infoTextButtonBg: $surface-transparent;
$infoTextButtonTextColor: $info-500;
$infoTextButtonHoverBg: $info-100;
$infoTextButtonHoverTextColor: $info-600;
$infoTextButtonActiveBg: $surface-transparent;
$infoTextButtonActiveTextColor: $infoTextButtonTextColor;

// Button/Severity/Help/Outlined
$helpOutlinedButtonBg: $surface-transparent;
$helpOutlinedButtonTextColor: $gray-500;
$helpOutlinedButtonBorderColor: $gray-500;
$helpOutlinedButtonHoverBg: $surface-transparent;
$helpOutlinedButtonHoverTextColor: $gray-600;
$helpOutlinedButtonHoverBorderColor: $gray-600;
$helpOutlinedButtonActiveBg: $helpOutlinedButtonBg;
$helpOutlinedButtonActiveTextColor: $helpOutlinedButtonTextColor;
$helpOutlinedButtonActiveBorderColor: $helpOutlinedButtonBorderColor;

// Button/Severity/Help/Text
$helpTextButtonBg: $surface-transparent;
$helpTextButtonTextColor: $black-100;
$helpTextButtonHoverBg: $gray-100;
$helpTextButtonHoverTextColor: $secondaryColor;
$helpTextButtonActiveBg: $helpTextButtonBg;
$helpTextButtonActiveTextColor: $helpTextButtonTextColor;

// Misc/Skeleton
$skeletonBg: $surface-200;
$skeletonAnimationBg: rgba(255, 255, 255, 0.1);

// Misc/Chip
$chipBg: $surface-100;
$chipTextColor: $textColor;
$chipBorderColor: $surface-transparent;
$chipHeight: 1.75rem;
$chipBorderRadius: $borderRadiusLG;
$chipPaddingTopBottom: 0rem;
$chipPaddingLeftRight: 0.5rem;
$chipBorder: 1px solid $chipBorderColor;
$chipPadding: $chipPaddingTopBottom $chipPaddingLeftRight;

// Overlay/Tooltip
$tooltipBg: $gray-900;
$tooltipTextColor: $surface-ground;
$tooltipPaddingTopBottom: 0.5rem;
$tooltipPaddingLeftRight: 1rem;
$tooltipPadding: $tooltipPaddingTopBottom $tooltipPaddingLeftRight;

// Overlay/Overlay
$overlayContentBorderColor: $surface-border;
$overlayContentBorder: 1px solid $overlayContentBorderColor;
$overlayContentBg: $surface-card;
$overlayContainerShadowColor: $black-20;
$overlayContainerShadow: 0 0.25rem 0.5rem 0 $overlayContainerShadowColor;

// Overlay/Dialog/Header
$dialogHeaderFontSize: 1.25rem;
$dialogHeaderIconPadding: 0.5rem;
$dialogHeaderPaddingTopBottom: 1rem;
$dialogHeaderPaddingLeftRight: 1.5rem;
$dialogHeaderBg: $overlayContentBg;
$dialogHeaderBorderColor: $surface-border;
$dialogHeaderTextColor: $textColor;
$dialogHeaderBorder: 1px solid $dialogHeaderBorderColor;
$dialogHeaderFontWeight: bold;
$dialogHeaderPadding: $dialogHeaderPaddingLeftRight
  $dialogHeaderPaddingLeftRight $dialogHeaderPaddingTopBottom;

// Overlay/Dialog/Body
$dialogContentPaddingTopBottom: 1.5rem;
$dialogContentPaddingLeftRight: 1.5rem;
$dialogContentPadding: $dialogContentPaddingTopBottom
  $dialogContentPaddingLeftRight;

// Overlay/Dialog/Footer
$dialogFooterBorderColor: $surface-transparent;
$dialogFooterBorder: 1px solid $dialogFooterBorderColor;
$dialogFooterPaddingTopBottom: 0rem;
$dialogFooterPaddingLeftRight: 1.5rem;
$dialogFooterPadding: $dialogFooterPaddingTopBottom
  $dialogFooterPaddingLeftRight $dialogFooterPaddingLeftRight;
$dialogFooterButtonGap: 0.5rem;

// Menu/Common
$verticalMenuPadding: 0.25rem;
$menuSeparatorMarginTopBottom: 0.25rem;
$menuSeparatorMarginLeftRight: 0rem;
$menuSeparatorMargin: $menuSeparatorMarginTopBottom
  $menuSeparatorMarginLeftRight;
$menuWidth: 8rem;
$menuBg: $surface-transparent;
$menuBorderColor: $surface-transparent;
$menuBorder: none;
$menuTextColor: $textSecondaryColor;
$menuNodeChildrenPadding: 0.75rem;

// Menu/Item
$menuitemPaddingTopBottom: 0.5rem;
$menuitemPaddingLeftRight: 0.75rem;
$menuitemPadding: $menuitemPaddingTopBottom $menuitemPaddingLeftRight;
$menuitemSpacing: 0.25rem;
$menuitemBorderRadius: 0.5rem;
$menuitemIconColor: $textColor;
$menuitemBg: $surface-transparent;
$menuitemBorderColor: $surface-transparent;
$menuitemBorder: 1px solid $menuitemBorderColor;
$menuitemTextColor: $textColor;
$menuitemHoverBg: $surface-hover;
$menuitemHoverTextColor: $textColor;
$menuitemHoverIconColor: $textColor;
$menuitemFocusBg: $surface-hover;
$menuitemFocusTextColor: $textColor;
$menuitemFocusIconColor: $textColor;
$menuitemActiveBg: $secondaryColor;
$menuitemActiveTextColor: $white-100;
$menuitemActiveIconColor: $white-100;
$menuitemActiveHoverBg: $secondaryColorHover;
$menuitemSubmenuIconFontSize: 1.25rem;

// Menu/Submenu
$submenuHeaderMargin: 0.25rem;
$submenuHeaderPadding: $menuitemPadding;
$submenuHeaderBg: $surface-transparent;
$submenuHeaderTextColor: $textSecondaryColor;
$submenuHeaderFontSize: 0.875rem;
$submenuHeaderFontWeight: bold;
$submenuHeaderBorderRadius: $menuitemBorderRadius;
$submenuHeaderBorderColor: $surface-transparent;
$submenuHeaderBorder: 1px solid $submenuHeaderBorderColor;

// Menu/Overlay
$overlayMenuBg: $overlayContentBg;
$overlayMenuBorderColor: $overlayContentBorderColor;
$overlayMenuBorder: 1px solid $overlayMenuBorderColor;
$overlayMenuShadow: $overlayContainerShadow;
$overlayMenuPadding: $verticalMenuPadding;

// Form/InputText
$inputPaddingTopBottom: 0rem;
$inputPaddingLeftRight: 0.75rem;
$inputPaddingTop: 0.75rem;
$inputTextFontSize: 1rem;
$inputBg: $surface-card;
$inputTextColor: $textColor;
$inputIconColor: $textColor;
$inputBorderColor: $gray-300;
$inputHoverBorderColor: $success-600;
$inputActiveBorderColor: $focusBorderColor;
$inputFocusBorderColor: $primary-600;
$inputErrorBorderColor: $errorColor;
$inputPlaceholderTextColor: $textSecondaryColor;
$inputPadding: $inputPaddingTopBottom $inputPaddingLeftRight;
$inputBorder: 1px solid $inputBorderColor;

// Form/InputGroup
$inputGroupBg: $inputBg;
$inputGroupTextColor: $textSecondaryColor;
$inputGroupAddOnMinWidth: 2.5rem;

// Form/Checkbox
$checkboxWidth: 1.5rem;
$checkboxHeight: 1.5rem;
$checkboxBorder: $inputBorder;
$checkboxBorderRadius: 0.25rem;
$checkboxIconFontSize: 1rem;
$checkboxActiveBorderColor: $secondaryColor;
$checkboxActiveBg: $secondaryColor;
$checkboxIconActiveColor: $white-100;
$checkboxActiveHoverBg: $gray-800;
$checkboxIconActiveHoverColor: $white-100;
$checkboxActiveHoverBorderColor: $surface-800;

// radiobutton
$radiobuttonBorder: $inputBorder;
$radiobuttonWidth: 1.5rem;
$radiobuttonHeight: 1.5rem;
$radiobuttonIconSize: 10px;
$radiobuttonActiveBorderColor: $secondaryColor;
$radiobuttonActiveBg: $secondaryColor;
$radiobuttonIconActiveColor: $white-100;
$radiobuttonActiveHoverBg: $secondaryColorHover;
$radiobuttonIconActiveHoverColor: $white-100;
$radiobuttonActiveHoverBorderColor: $secondaryColorHover;
$radiobuttonHoverBorderColor: $gray-900;
$radiobuttonInvalidBorderColor: $danger-400;
$radiobuttonInvalidActiveBorderColor: $gray-900;
$radiobuttonDisabledBg: $gray-200;
$radiobuttonDisabledBorderColor: $gray-300;
$radiobuttonDisabledIconBg: $gray-500;

$inputFilledBg: $gray-200;
$inputFilledHoverBg: $inputFilledBg;
$inputFilledFocusBg: $gray-50;

// Form/inputSwitch
$inputSwitchWidth: 2.5rem;
$inputSwitchHeight: 1.5rem;
$inputSwitchBorderRadius: 100px;
$inputSwitchHandleWidth: 1rem;
$inputSwitchHandleHeight: 1rem;
$inputSwitchHandleBorderRadius: 100px;
$inputSwitchSliderPadding: 0.25rem;
$inputSwitchSliderOffBg: $surface-500;
$inputSwitchHandleOffBg: $inputBg;
$inputSwitchSliderOffHoverBg: $surface-400;
$inputSwitchSliderOnBg: $surface-900;
$inputSwitchSliderOnHoverBg: $surface-800;
$inputSwitchHandleOnBg: $surface-50;

// Form/ToggleButton
$toggleButtonBg: $tertiaryColor;
$toggleButtonBorderColor: $surface-transparent;
$toggleButtonBorder: 1px solid trasparent;
$toggleButtonTextColor: $textColor;
$toggleButtonIconColor: $textColor;
$toggleButtonHoverBg: $tertiaryColorHover;
$toggleButtonHoverBorderColor: $surface-transparent;
$toggleButtonHoverTextColor: $textColor;
$toggleButtonIconHoverColor: $textColor;
$toggleButtonActiveBg: $secondaryColor;
$toggleButtonActiveBorderColor: $surface-transparent;
$toggleButtonActiveTextColor: $white-100;
$toggleButtonIconActiveColor: $white-100;
$toggleButtonActiveHoverBg: $secondaryColorHover;
$toggleButtonActiveHoverBorderColor: $surface-transparent;
$toggleButtonTextActiveHoverColor: $white-100;
$toggleButtonIconActiveHoverColor: $white-100;

// Form/Rating
$ratingIconFontSize: 1.25rem;
$ratingCancelIconColor: $textSecondaryColor;
$ratingCancelIconHoverColor: $textColor;
$ratingStarIconOffColor: $textSecondaryColor;
$ratingStarIconOnColor: $warning-500;
$ratingStarIconHoverColor: $warning-400;

// Form/InputOpt
$inputOptFontSize: 1.5rem;

// Panel/ScrollPanel
$scrollPanelTrackBg: $tertiaryColor;
$scrollPanelTrackBorder: 0 none;

// Panel/Divider
$dividerHorizontalMarginTopBottom: 1rem;
$dividerHorizontalMarginLeftRight: 0rem;
$dividerHorizontalMargin: $dividerHorizontalMarginTopBottom
  $dividerHorizontalMarginLeftRight;
$dividerHorizontalPaddingTopBottom: 0rem;
$dividerHorizontalPaddingLeftRight: 1rem;
$dividerHorizontalPadding: $dividerHorizontalPaddingTopBottom
  $dividerHorizontalPaddingLeftRight;
$dividerVerticalMarginTopBottom: 0rem;
$dividerVerticalMarginLeftRight: 1rem;
$dividerVerticalMargin: $dividerVerticalMarginTopBottom
  $dividerVerticalMarginLeftRight;
$dividerVerticalPaddingTopBottom: 1rem;
$dividerVerticalPaddingLeftRight: 0rem;
$dividerVerticalPadding: $dividerVerticalPaddingTopBottom
  $dividerVerticalPaddingLeftRight;
$dividerSize: 1px;
$dividerBackgroundHighlight: $surface-card;

// Panel/TabView
$tabviewNavBg: $surface-transparent;
$tabviewNavBorderWidth: 1px;
$tabviewNavBorderColor: $surface-border;
$tabviewNavBorder: $tabviewNavBorderWidth solid $tabviewNavBorderColor;
$tabviewHeaderSpacing: 1.5rem;
$tabviewHeaderBorderWidth: 0.25rem;
$tabviewHeaderBorderColor: $surface-transparent;
$tabviewHeaderBorder: $tabviewHeaderBorderWidth solid $tabviewHeaderBorderColor;
$tabviewHeaderBg: $surface-transparent;
$tabviewHeaderTextColor: $textSecondaryColor;
$tabviewHeaderFontWeight: normal;
$tabviewHeaderPaddingTopBottom: 1rem;
$tabviewHeaderPaddingLeftRight: 0rem;
$tabviewHeaderPadding: $tabviewHeaderPaddingTopBottom
  $tabviewHeaderPaddingLeftRight;
$tabviewHeaderMargin: 0;
$tabviewHeaderHoverBg: $surface-transparent;
$tabviewHeaderHoverBorderColor: $surface-transparent;
$tabviewHeaderHoverTextColor: $secondaryColorHover;
$tabviewHeaderActiveBg: $surface-transparent;
$tabviewHeaderActiveBorderColor: $textColor;
$tabviewHeaderActiveTextColor: $primaryColorText;
$tabviewContentBorder: none;
$tabviewContentBg: $surface-transparent;
$tabviewContentTextColor: $textColor;
$tabviewContentPadding: $tabviewHeaderPadding;

// Panel/Panel/Header
$panelHeaderBorderColor: $surface-border;
$panelHeaderBorder: 1px solid $panelHeaderBorderColor;
$panelHeaderBg: $surface-card;
$panelHeaderTextColor: $textColor;
$panelHeaderFontWeight: bold;
$panelHeaderPaddingTopBottom: $dialogHeaderPaddingTopBottom;
$panelHeaderPaddingLeftRight: $dialogHeaderPaddingLeftRight;
$panelHeaderPadding: $panelHeaderPaddingLeftRight $panelHeaderPaddingLeftRight
  $panelHeaderPaddingTopBottom;
$panelToggleableHeaderPadding: 0rem;
$panelHeaderHoverBg: #ffffff;
$panelHeaderHoverBorderColor: #ffffff;
$panelHeaderTextHoverColor: #ffffff;

// Panel/Panel/Body
$panelContentBorderColor: $surface-border;
$panelContentBorder: 1px solid $panelContentBorderColor;
$panelContentBg: $surface-ground;
$panelContentEvenRowBg: #ffffff;
$panelContentTextColor: $textColor;
$panelContentPadding: 1rem;

// Panel/Panel/Footer
$panelFooterBorderColor: $surface-transparent;
$panelFooterBg: $surface-ground;
$panelFooterTextColor: $textSecondaryColor;
$panelFooterPadding: 0rem;
$panelFooterBorder: $panelHeaderBorder;

// Message/Toast
$toastIconFontSize: 2rem;
$toastMessageTextMargin: 0rem;
$toastMargin: 0.25rem;
$toastPadding: 1rem;
$toastBorderWidth: 0.25rem;
$toastShadow: $overlayContainerShadow;
$toastOpacity: 1;
$toastTitleFontWeight: bold;
$toastDetailMargin: 0rem;

// Misc/ProgressBar
$progressBarHeight: 1rem;
$progressBarBorder: none;
$progressBarBg: $gray-200;
$progressBarValueBg: $primaryColor;
$progressBarValueTextColor: $primaryColorText;

// Form/Slider
$sliderBorder: none;
$sliderBg: $progressBarBg;
$sliderHorizontalHeight: 0.25rem;
$sliderVerticalWidth: 0.25rem;
$sliderHandleWidth: 1.25rem;
$sliderHandleHeight: 1.25rem;
$sliderHandleBg: $inputBg;
$sliderHandleHoverBg: $secondaryColor;
$sliderHandleBorder: $secondaryColor;
$sliderHandleBorderRadius: 1rem;
$sliderHandleHoverBorderColor: $secondaryColor;
$sliderRangeBg: $secondaryColor;

// Form/SelectButton
$selectButtonGroupBg: $gray-200;
$selectButtonGroupPadding: 0.25rem;
$selectButtonBg: $surface-transparent;
$selectButtonBorderColor: $surface-transparent;
$selectButtonBorder: 1px solid trasparent;
$selectButtonBorderRadius: $borderRadiusLG;
$selectButtonTextColor: $surface-700;
$selectButtonIconColor: $textSecondaryColor;
$selectButtonHoverBg: $surface-ground;
$selectButtonHoverBorderColor: $surface-transparent;
$selectButtonHoverTextColor: $textColor;
$selectButtonIconHoverColor: $textColor;
$selectButtonActiveBg: $surface-card;
$selectButtonActiveBorderColor: $surface-transparent;
$selectButtonActiveTextColor: $textColor;
$selectButtonIconActiveColor: $textColor;
$selectButtonActiveHoverBg: $selectButtonActiveBg;
$selectButtonActiveHoverBorderColor: $surface-transparent;
$selectButtonTextActiveHoverColor: $textColor;
$selectButtonIconActiveHoverColor: $textColor;

// Form/Listbox
$inputListBg: $inputBg;
$inputListTextColor: $menuTextColor;
$inputListBorderColor: $overlayContentBorderColor;
$inputListBorder: 1px solid $inputListBorderColor;
$inputListPadding: $verticalMenuPadding;
$inputListItemPaddingTopBottom: $menuitemPaddingTopBottom;
$inputListItemPaddingLeftRight: $menuitemPaddingLeftRight;
$inputListItemPadding: $inputListItemPaddingTopBottom
  $inputListItemPaddingLeftRight;
$inputListItemMargin: $menuSeparatorMargin;
$inputListItemBorderColor: $menuitemBorderColor;
$inputListItemBorder: 1px solid $inputListItemBorderColor;
$inputListItemBorderRadius: $menuitemBorderRadius;
$inputListItemBg: $menuitemBg;
$inputListItemTextColor: $menuitemTextColor;
$inputListItemHoverBg: $menuitemHoverBg;
$inputListItemHoverTextColor: $menuitemHoverTextColor;
$inputListItemFocusBg: $menuitemFocusBg;
$inputListItemFocusTextColor: $menuitemFocusTextColor;
$inputListItemFocusShadow: $focusShadow;
$inputListHeaderPadding: $submenuHeaderPadding;
$inputListHeaderMargin: 0rem;
$inputListHeaderBg: $submenuHeaderBg;
$inputListHeaderTextColor: $submenuHeaderTextColor;
$inputListHeaderBorderColor: $submenuHeaderBorderColor;
$inputListHeaderBorder: 1px solid $inputListHeaderBorderColor;
$listItemTransition: 0.2s;

// Form/Overlay
$inputOverlayBg: $inputBg;
$inputOverlayHeaderBg: $inputListHeaderBg;
$inputOverlayBorderColor: $inputListBorderColor;
$inputOverlayBorder: 1px solid $inputOverlayBorderColor;
$inputOverlayShadowColor: $black-20;
$inputOverlayShadow: 0 $focusShadowWidth $focusShadowWidth 0
  $inputOverlayShadowColor;

// Form/Password
$passwordMeterBg: $progressBarBg;
$passwordWeakBg: $danger-500;
$passwordMediumBg: $warning-500;
$passwordStrongBg: $success-600;

// Form/Calendar
$calendarTableMargin: 0rem;
$calendarPadding: 0.75rem;
$calendarBg: var(--content-background);
$calendarShadow: var(--shadow-400);
$calendarInlineBg: $calendarBg;
$calendarTextColor: $textColor;
$calendarElementsBorder: 1px solid var(--form-borderColor);
$calendarBorderColor: $inputListBorderColor;
$calendarBorder: 1px solid $calendarBorderColor;
$calendarOverlayBorderColor: $inputOverlayBorderColor;
$calendarOverlayBorder: 1px solid $calendarOverlayBorderColor;
$calendarHeaderPadding: $calendarPadding;
$calendarHeaderBg: $inputListHeaderBg;
$calendarInlineHeaderBg: $calendarBg;
$calendarHeaderBorder: none;
$calendarHeaderTextColor: $textColor;
$calendarHeaderFontWeight: bold;
$calendarHeaderCellPadding: 0.25rem;
$calendarHeaderCellBorder: $calendarElementsBorder;
$calendarHeaderCellBorderRadius: var(--borderRadius-300);
$calendarContainerPadding: $calendarPadding;
$calendarContainerBorderTop: $calendarElementsBorder;
$calendarMonthYearHeaderHoverTextColor: $textColor;
$calendarCellDatePadding: 0.25rem;
$calendarCellDateWidth: 2rem;
$calendarCellDateHeight: 2rem;
$calendarCellDateBorderRadius: var(--borderRadius-200);
$calendarCellDateBorder: none;
$calendarCellDateTextColor: var(--content-color);
$calendarCellDateHoverBg: var(--content-hoverBackground);
$calendarCellDateHoverText: $textColor;
$calendarCellDateHighlightTextColor: var(--text-extend-colorInverted);
$calendarCellDateHighlightBg: var(--highlight-background);
$calendarCellDateHighlightHoverBg: var(--surface-800);
$calendarCellDateTodayBg: $surface-transparent;
$calendarCellDateTodayBorderColor: var(--calendar-cell-today-border-color);
$calendarCellDateTodayTextColor: $calendarTextColor;
$calendarCellDateTodayHighlightTextColor: var(--text-extend-colorInverted);
$calendarCellDateTodayHighlightBg: var(--highlight-background);
$calendarCellDateTodayHighlightHoverBg: var(--surface-800);
$calendarButtonBarPadding: $calendarPadding;
$calendarButtonBarBorderTop: $calendarElementsBorder;
$calendarTimePickerPadding: 0.25rem;
$calendarTimePickerBorderTop: $calendarElementsBorder;
$calendarTimePickerButtonColor: var(--content-color);
$calendarTimePickerButtonBorderRadius: var(--borderRadius-200);
$calendarTimePickerElementPadding: 0rem; // TODO value и почему-то удалены в ДС 2.0 но используются в теме
$calendarTimePickerTimeFontSize: 1.25rem;
$calendarBreakpoint: 769px;
$calendarCellDatePaddingSM: 0.25rem;

// Button/Severity/Warning/Outlined
$warningOutlinedButtonBg: $surface-transparent;
$warningOutlinedButtonTextColor: $warning-500;
$warningOutlinedButtonBorderColor: $warning-500;
$warningOutlinedButtonHoverBg: $surface-transparent;
$warningOutlinedButtonHoverTextColor: $warning-600;
$warningOutlinedButtonHoverBorderColor: $warning-600;
$warningOutlinedButtonActiveBg: $surface-transparent;
$warningOutlinedButtonActiveTextColor: $warning-500;
$warningOutlinedButtonActiveBorderColor: $warning-500;

// Button/Severity/Warning/Text
$warningTextButtonBg: $surface-transparent;
$warningTextButtonTextColor: $warning-500;
$warningTextButtonHoverBg: $warning-100;
$warningTextButtonHoverTextColor: $warning-600;
$warningTextButtonActiveBg: $surface-transparent;
$warningTextButtonActiveTextColor: $warningTextButtonTextColor;

// Message/Messages
$messageMargin: 0rem;
$messagePadding: 1rem;
$messageBorderWidth: 0.25rem;
$messageIconFontSize: 2rem;
$messageTextFontSize: 1rem;
$messageTextFontWeight: normal;
$messageTextColor: $textColor;
$messageTextSummaryFontSize: 1rem;
$messageTextSummaryFontWeight: bold;
$messageTextSummaryColor: $textColor;
$messageTextDetailFontSize: 0.875rem;
$messageTextDetailFontWeight: normal;
$messageTextDetailColor: $textSecondaryColor;

// tree
$treeContainerPadding: 0.286rem !default;
$treeNodePadding: 0.143rem !default;
$treeNodeContentPadding: 0.5rem !default;
$treeNodeChildrenPadding: 0 0 0 1rem !default;
$treeNodeIconColor: $gray-600 !default;

// inline message (primereact/message)
$inlineMessagePadding: 1rem;
$inlineMessageMargin: 0rem;
$inlineMessageIconFontSize: 1rem;
$inlineMessageTextFontSize: 1rem;
$inlineMessageBorderWidth: 0;

$infoMessageBg: $info-100;
$infoMessageBorderColor: $info-200;
$infoMessageBorder: 1px solid $infoMessageBorderColor;
$infoMessageIconColor: $info-500;
$infoMessageTextColor: $info-500;

$successMessageBg: $success-100;
$successMessageBorderColor: $success-200;
$successMessageBorder: 1px solid $successMessageBorderColor;
$successMessageIconColor: $success-500;
$successMessageTextColor: $success-500;

$warningMessageBg: $warning-100;
$warningMessageBorderColor: $warning-200;
$warningMessageBorder: 1px solid $warningMessageBorderColor;
$warningMessageIconColor: $warning-500;
$warningMessageTextColor: $warning-500;

$errorMessageBg: $danger-100;
$errorMessageBorderColor: $danger-200;
$errorMessageBorder: 1px solid $errorMessageBorderColor;
$errorMessageIconColor: $danger-500;
$errorMessageTextColor: $danger-500;

// Message/Severities/Error
$dangerMessageBg: $danger-50;
$dangerMessageBorderColor: $danger-200;
$dangerMessageBorder: 1px solid $dangerMessageBorderColor;
$dangerMessageIconColor: $danger-500;
$dangerMessageTextColor: $danger-500;

// Data/Paginator
$paginatorBg: $surface-transparent;
$paginatorTextColor: $textColor;
$paginatorBorderColor: $surface-transparent;
$paginatorBorder: solid $paginatorBorderColor;
$paginatorBorderWidth: 0;
$paginatorPaddingTopBottom: 0.5rem;
$paginatorPaddingLeftRight: 0rem;
$paginatorPadding: $paginatorPaddingTopBottom $paginatorPaddingLeftRight;
$paginatorElementWidth: 2.5rem;
$paginatorElementHeight: 2.5rem;
$paginatorElementBorderColor: $surface-transparent;
$paginatorElementBorder: 1px solid $paginatorElementBorderColor;
$paginatorElementBg: $actionIconBg;
$paginatorElementCheckedBg: $secondaryColor;
$paginatorElementCheckedHoverBg: $secondaryColorHover;
$paginatorElementCheckedDisabledBg: $tertiaryColor;
$paginatorElementIconColor: $textColor;
$paginatorElementHoverBg: $actionIconHoverBg;
$paginatorElementHoverBorderColor: $actionIconHoverBorderColor;
$paginatorElementIconHoverColor: $textColor;
$paginatorElementBorderRadius: $actionIconBorderRadius;
$paginatorElementMargin: 0.25rem;
$paginatorElementPadding: 0rem;

// Data/DataTable/Common
$tableResizerHelperBg: $surface-200;
$tableDragHelperBg: $surface-100;
$tableCellContentAlignment: left;
$tableTopPaginatorBorderWidth: 1px 0 1px 0;
$tableBottomPaginatorBorderWidth: 0 0 0 0;
$tableScaleSM: 0.5;
$tableScaleLG: 1.25;

// Data/DataTable/Header
$tableHeaderBorderColor: $gray-200;
$tableHeaderBorder: 1px solid $tableHeaderBorderColor;
$tableHeaderBorderWidth: 0 0 1px 0;
$tableHeaderBg: $surface-50;
$tableHeaderTextColor: $textColor;
$tableHeaderFontWeight: 500;
$tableHeaderPaddingTopBottom: 1rem;
$tableHeaderPaddingLeftRight: 1rem;
$tableHeaderPadding: $tableHeaderPaddingTopBottom $tableHeaderPaddingLeftRight;
$tableHeaderCellPaddingTopBottom: $tableHeaderPaddingTopBottom;
$tableHeaderCellPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableHeaderCellPadding: $tableHeaderCellPaddingTopBottom
  $tableHeaderCellPaddingLeftRight;
$tableHeaderCellBg: $tableHeaderBg;
$tableHeaderCellTextColor: $textColor;
$tableHeaderCellIconColor: $textColor;
$tableHeaderCellFontWeight: $tableHeaderFontWeight;
$tableHeaderCellBorderColor: $tableHeaderBorderColor;
$tableHeaderCellBorder: 1px solid $tableHeaderCellBorderColor;
$tableHeaderCellBorderWidth: 0 0 1px 0;
$tableHeaderCellHoverBg: $surface-100;
$tableHeaderCellTextHoverColor: $textColor;
$tableHeaderCellIconHoverColor: $textColor;
$tableHeaderCellHighlightBg: $surface-100;
$tableHeaderCellHighlightTextColor: $textColor;
$tableHeaderCellHighlightIconColor: $primary-600;
$tableSortableColumnBadgeSize: 1.25rem;

// Data/DataTable/Body
$tableBodyRowBg: $surface-card;
$tableBodyRowTextColor: $textColor;
$tableBodyRowEvenBg: $surface-50;
$tableBodyRowHoverBg: $surface-100;
$tableBodyRowTextHoverColor: $textColor;
$tableBodyCellBorderColor: $tableHeaderBorderColor;
$tableBodyCellBorder: 1px solid $tableBodyCellBorderColor;
$tableBodyCellBorderWidth: 0 0 1px 0;
$tableBodyCellPaddingTopBottom: $tableHeaderCellPaddingTopBottom;
$tableBodyCellPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableBodyCellPadding: $tableBodyCellPaddingTopBottom
  $tableBodyCellPaddingLeftRight;
$tableBodyCellHighlightBg: $surface-100;
$tableBodyCellHighlightTextColor: $textColor;

// Data/DataTable/Footer
$tableFooterCellPaddingTopBottom: $tableHeaderCellPaddingTopBottom;
$tableFooterCellPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableFooterCellPadding: $tableFooterCellPaddingTopBottom
  $tableFooterCellPaddingLeftRight;
$tableFooterCellBg: $tableHeaderBg;
$tableFooterCellTextColor: $textColor;
$tableFooterCellFontWeight: $tableHeaderFontWeight;
$tableFooterCellBorderColor: $tableHeaderBorderColor;
$tableFooterCellBorder: 1px solid $tableFooterCellBorderColor;
$tableFooterCellBorderWidth: 0 0 1px 0;
$tableFooterBorderColor: $tableHeaderBorderColor;
$tableFooterBorder: 1px solid $tableFooterBorderColor;
$tableFooterBorderWidth: 0 0 1px 0;
$tableFooterBg: $tableHeaderBg;
$tableFooterTextColor: $textColor;
$tableFooterFontWeight: $tableHeaderFontWeight;
$tableFooterPaddingTopBottom: $tableHeaderCellPaddingTopBottom;
$tableFooterPaddingLeftRight: $tableHeaderPaddingLeftRight;
$tableFooterPadding: $tableFooterPaddingTopBottom $tableFooterPaddingLeftRight;

// Data/Timeline
$timelineTextColor: $primaryColorText;
$timelineEventMarkerWidth: 1rem;
$timelineEventMarkerHeight: 1rem;
$timelineEventMarkerBorderRadius: 8rem;
$timelineEventConnectorSize: 1px;
$timelineEventMarkerBorderColor: $primary-600;
$timelineEventMarkerBorderSize: 0.25rem;
$timelineEventMarkerBorder: $timelineEventMarkerBorderSize solid
  $timelineEventMarkerBorderColor;
$timelineEventMarkerBackground: $surface-card;
$timelineEventColor: $surface-border;
$timelineVerticalEventContentPaddingTopBottom: 0rem;
$timelineVerticalEventContentPaddingLeftRight: 0.5rem;
$timelineVerticalEventContentPadding: $timelineVerticalEventContentPaddingTopBottom
  $timelineVerticalEventContentPaddingLeftRight;
$timelineHorizontalEventContentPaddingTopBottom: 0.5rem;
$timelineHorizontalEventContentPaddingLeftRight: 0rem;
$timelineHorizontalEventContentPadding: $timelineHorizontalEventContentPaddingTopBottom
  $timelineHorizontalEventContentPaddingLeftRight;

// Media/Carousel
$carouselIndicatorsPadding: 1rem;
$carouselIndicatorBg: $surface-border;
$carouselIndicatorHoverBg: $surface-800;
$carouselIndicatorActiveBg: $surface-800;
$carouselIndicatorBorderRadius: 1rem;
$carouselIndicatorWidth: 0.5rem;
$carouselIndicatorHeight: 0.5rem;

// Media/Galleria/Close
$galleriaMaskBg: $maskBg;
$galleriaCloseIconMargin: 0.5rem;
$galleriaCloseIconFontSize: 2rem;
$galleriaCloseIconBg: $surface-transparent;
$galleriaCloseIconColor: $white-60;
$galleriaCloseIconHoverBg: $white-20;
$galleriaCloseIconHoverColor: $white-80;
$galleriaCloseIconWidth: 4rem;
$galleriaCloseIconHeight: 4rem;
$galleriaCloseIconBorderRadius: $borderRadius2XL;

// Media/Galleria/Navigator
$galleriaItemNavigatorBg: $surface-transparent;
$galleriaItemNavigatorColor: $white-60;
$galleriaItemNavigatorMargin: 0.5rem;
$galleriaItemNavigatorFontSize: 2rem;
$galleriaItemNavigatorHoverBg: $white-20;
$galleriaItemNavigatorHoverColor: $white-80;
$galleriaItemNavigatorWidth: 4rem;
$galleriaItemNavigatorHeight: 4rem;
$galleriaItemNavigatorBorderRadius: $borderRadius2XL;

// Media/Galleria/Caption
$galleriaCaptionBg: $black-60;
$galleriaCaptionTextColor: $white-80;
$galleriaCaptionPadding: 1rem;

// Media/Galleria/Indicators
$galleriaIndicatorsPadding: 1rem;
$galleriaIndicatorBg: $white-40;
$galleriaIndicatorHoverBg: $white-80;
$galleriaIndicatorBorderRadius: $carouselIndicatorBorderRadius;
$galleriaIndicatorWidth: $carouselIndicatorWidth;
$galleriaIndicatorHeight: $carouselIndicatorHeight;
$galleriaIndicatorsBgOnItem: $surface-transparent;
$galleriaIndicatorBgOnItem: $white-40;
$galleriaIndicatorHoverBgOnItem: $white-80;
$galleriaIndicatorActiveBgOnItem: $white-80;

// Media/Galleria/Thumbnail
$galleriaThumbnailContainerBg: $black-100;
$galleriaThumbnailContainerPaddingTopBottom: 0.5rem;
$galleriaThumbnailContainerPaddingLeftRight: 0.5rem;
$galleriaThumbnailContainerPadding: $galleriaThumbnailContainerPaddingTopBottom
  $galleriaThumbnailContainerPaddingLeftRight;
$galleriaThumbnailNavigatorBg: $surface-transparent;
$galleriaThumbnailNavigatorColor: $white-60;
$galleriaThumbnailNavigatorHoverBg: $white-20;
$galleriaThumbnailNavigatorHoverColor: $white-80;
$galleriaThumbnailNavigatorBorderRadius: $borderRadius;
$galleriaThumbnailNavigatorWidth: $actionIconWidth;
$galleriaThumbnailNavigatorHeight: $actionIconHeight;

// Panel/Stepper
$stepsItemBg: $surface-transparent;
$stepsItemBorderColor: $surface-border;
$stepsItemBorder: 1px solid $stepsItemBorderColor;
$stepsItemTextColor: $textColor;
$stepsItemFontWeight: 500;
$stepsItemNumberWidth: 1.5rem;
$stepsItemNumberHeight: 1.5rem;
$stepsItemNumberFontSize: 1rem;
$stepsItemNumberColor: $textColor;
$stepsItemNumberBorderRadius: 8rem;

// accordion
$accordionSpacing: 0;
$accordionHeaderPadding: 1rem 0rem;
$accordionHeaderBorder: 1px solid var(--surface-300);
$accordionHeaderTextColor: $textColor;
$accordionHeaderBg: $surface-transparent;
$accordionHeaderFontWeight: 700;

$accordionHeaderHoverBg: $surface-transparent;
$accordionHeaderHoverBorderColor: var(--surface-300);
$accordionHeaderTextHoverColor: var(--text-hoverColor);

$accordionHeaderActiveBg: $surface-transparent;
$accordionHeaderActiveBorderColor: var(--surface-300);
$accordionHeaderTextActiveColor: $textColor;

$accordionHeaderActiveHoverBg: $surface-transparent;
$accordionHeaderActiveHoverBorderColor: var(--surface-300);
$accordionHeaderTextActiveHoverColor: var(--text-hoverColor);

$accordionContentPadding: 0rem 1.75rem 1rem;
$accordionContentBorder: 1px solid var(--surface-300);
$accordionContentBg: $surface-transparent;
$accordionContentTextColor: $textColor;

// Panel/Card
$cardBg: $surface-card;
$cardBorderRadius: $borderRadius2XL;
$cardBorderColor: $surface-border;
$cardBorder: 1px solid $cardBorderColor;
$cardTextColor: $textColor;
$cardTextFontSize: 1rem;
$cardBodyPadding: 1rem;
$cardTitleFontSize: 1.125rem;
$cardTitleFontWeight: 700;
$cardSubTitleFontSize: 0.875rem;
$cardSubTitleFontWeight: 400;
$cardSubTitleColor: $textSecondaryColor;
$cardContentPaddingTop: 1rem;
$cardContentPadding: $cardContentPaddingTop 0 0;
$cardFooterPaddingTop: 1rem;
$cardFooterPadding: $cardFooterPaddingTop 0 0;
$cardShadow: $overlayContainerShadow;

// avatar
$avatarBorderRadius: var(--borderRadius-200);
$avatarBg: $primaryColor;
$avatarTextColor: var(--text-extend-colorPrimaryStatic);
$avatarGroupAvatarBorder: 2px solid $surface-ground;

// badge
$badgeBg: $primaryColor;
$badgeTextColor: var(--text-extend-colorPrimaryStatic);
$badgeMinWidth: 1.5rem;
$badgeHeight: 1.5rem;
$badgeFontSize: 0.75rem;
$badgeDotSize: 0.5rem;
$badgeFontWeight: 400;
$badgeSuccessTextColor: var(--success-900);
$badgeSuccessBg: var(--success-300);
$badgeDotSuccessBg: var(--green-400);
$badgeInfoTextColor: var(--info-900);
$badgeInfoBg: var(--info-300);
$badgeDotInfoBg: var(--info-400);
$badgeWarningTextColor: var(--warn-900);
$badgeWarningBg: var(--warn-300);
$badgeDotWarningBg: var(--warn-400);
$badgeDangerTextColor: var(--error-900);
$badgeDangerBg: var(--error-300);
$badgeDotDangerBg: var(--error-400);
$badgeSecondaryTextColor: var(--text-color);
$badgeSecondaryBg: var(--surface-200);
$badgeDotSecondaryBg: var(--surface-300);

// breadcrumb
$breadcrumbPadding: 0rem;
$breadcrumbBg: $surface-transparent;
$breadcrumbBorder: none;
$breadcrumbItemBorderRadius: var(--borderRadius-100);
$breadcrumbItemHoverBg: var(--surface-100);
$breadcrumbItemTextColor: $textColor;
$breadcrumbItemIconColor: $textColor;
$breadcrumbLastItemTextColor: $textColor;
$breadcrumbLastItemIconColor: $textColor;
$breadcrumbSeparatorColor: $textColor;

// divider
$dividerContentBg: var(--content-background);
$dividerContentTextColor: $surface-500;

// panelmenu
$menuitemTextActiveColor: $primaryColorText;
$menuitemIconActiveColor: $primaryColorText;
$menuitemActiveFocusBg: $primary-100;
$menuitemTextFocusColor: $white-100;
$menuitemIconFocusColor: $white-100;
$menuitemTextHoverColor: $gray-1000;
$menuitemIconHoverColor: $gray-1000;

$panelmenuHeaderBorder: 1px solid $surface-transparent;
$panelmenuHeaderPadding: 0.5rem 0.75rem;
$panelmenuHeaderFontWeight: 400;

$panelmenuHeaderHoverBg: var(--navigation-item-focusBackground);
$panelmenuHeaderHoverBorderColor: $surface-transparent;

$panelmenuHeaderActiveBg: var(--surface-900);
$panelmenuHeaderActiveBorderColor: $surface-transparent;
$panelmenuHeaderTextActiveColor: var(--navigation-item-activeColor);

$panelmenuHeaderActiveHoverBg: var(--surface-800);
$panelmenuHeaderActiveHoverBorderColor: $surface-transparent;

$panelmenuItemActiveBg: var(--surface-900);
$panelmenuItemTextActiveColor: var(--navigation-item-activeColor);

$panelmenuItemActiveHoverBg: var(--surface-800);
$panelmenuItemTextActiveHoverColor: var(--navigation-item-activeColor);

// tag
$tagTextColor: var(--text-color);
$tagPadding: 0.25rem 0.5rem;
$tagFontSizeBase: 1rem;
$tagSuccessBg: var(--success-400);
