.p-sidebar {
    color: $panelContentTextColor;

    border: $overlayContentBorder;
    border-radius: $borderRadius;

    box-shadow: $overlayContainerShadow;
    background: $overlayContentBg;

    .p-sidebar-header {
        padding: $panelHeaderPadding;
        border-bottom: $panelHeaderBorder;

        .p-sidebar-close,
        .p-sidebar-icon {
            @include action-icon();
        }

        & + .p-sidebar-content {
            padding-top: 0;
        }
    }

    .p-sidebar-content {
        padding: $dialogContentPadding;
    }
}
