@use "sass:list";

.p-inputotp {
    display: flex;
    align-items: center;
    gap: $inlineSpacing;
}

.p-inputotp-input {
    font-size: $inputOptFontSize;
    text-align: center;

    width: 2 * list.nth($inputPadding, 2) + 1rem;

    border: none;
    border-bottom: $inputListBorder;
    border-radius: 0;

    background: transparent;

    &.p-disabled {
        background: transparent;
    }
}

.p-inputotp-input:enabled:focus {
    box-shadow: none;
}
