.p-inputnumber {
    &.p-invalid.p-component > .p-inputtext {
        @include invalid-input();
    }
}

.p-inputnumber-button {
    color: $inputTextColor;
    border-color: $inputBorderColor;
    background-color: $inputBg;

    .p-button-icon {
        font-size: $primeIconFontSize;
    }
}

.p-inputnumber-button:hover {
    box-shadow: none !important;
}

.p-inputnumber-button-down {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-inputnumber-button-up {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.p-inputnumber-buttons-horizontal {
    .p-inputnumber-input {
        border-radius: 0;
        border-left-color: transparent;
        border-right-color: transparent;
    
        z-index: 1;
    }

    .p-inputnumber-button-down,
    .p-inputnumber-button-up {
        height: 100%;
    }
}