@use "sass:list";

// core
.p-listbox-list-wrapper {
    overflow: auto;
}

.p-listbox-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p-listbox-item {
    cursor: pointer;

    overflow: hidden;
    position: relative;

    color: $inputListItemTextColor;

    margin: $inputListItemMargin;
    padding: $inputListItemPadding;
    
    border: $inputListItemBorder;
    border-radius: $inputListItemBorderRadius;

    transition: $listItemTransition;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.p-highlight {
        color: $highlightTextColor;
        background: $highlightBg;
    }

    &:not(.p-highlight).p-disabled {
        color: $disabledButtonTextColor;
        border-color: $disabledButtonBorderColor;
        background: $disabledButtonBg;
    }

    &.p-disabled {
        cursor: not-allowed;
    }
}

.p-listbox-item-group {
    cursor: auto;
}

.p-listbox-filter-container {
    position: relative;
}

.p-listbox-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
}

.p-listbox-filter {
    width: 100%;
}

// theme
.p-listbox {
    background: $inputListBg;
    color: $inputListTextColor;
    border: $inputListBorder;
    border-radius: $borderRadius;
    transition: $formElementTransition;
    outline-color: transparent;

    .p-listbox-header {
        padding: $inputListHeaderPadding;
        border-bottom: $inputListHeaderBorder;
        color: $inputListHeaderTextColor;
        background: $inputListHeaderBg;
        margin: $inputListHeaderMargin;
        border-top-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;

        .p-listbox-filter {
            padding-right: list.nth($inputPadding, 2) + $primeIconFontSize;
        }

        .p-listbox-filter-icon {
            right: list.nth($inputPadding, 2);
            color: $inputIconColor;
        }

        .p-disabled + .p-listbox-filter-icon {
            opacity: $disabledOpacity;
        }
    }

    .p-listbox-list {
        padding: $inputListPadding;
        outline: 0 none;

        .p-listbox-item-group {
            margin: $submenuHeaderMargin;
            padding: $submenuHeaderPadding;
            color: $submenuHeaderTextColor;
            background: $submenuHeaderBg;
            font-weight: $submenuHeaderFontWeight;
        }

        .p-listbox-empty-message {
            text-align: center;
            color: $inputListItemTextColor;

            padding: $inputListItemPaddingLeftRight;            
            background: $inputListItemBg;

            
        }
    }

    &:not(.p-disabled) {
        :not(.p-disabled).p-listbox-item {
            &.p-highlight {
                &.p-focus {
                    // background: $highlightFocusBg;
                }

                &:hover {
                    background: $primaryColorHover;
                }
            }

            &:not(.p-highlight):not(.p-disabled) {
                &.p-focus {
                    color: $inputListItemHoverTextColor;
                    background: $inputListItemHoverBg;
                }

                &:hover {
                    color: $inputListItemHoverTextColor;
                    background: $inputListItemHoverBg;

                    &.p-focus {
                        color: $inputListItemHoverTextColor;
                        background: $inputListItemHoverBg;
                    }
                }
            }
        }
    }

    &.p-focus {
        @include focused-input();
    }

    &.p-invalid {
        @include invalid-input();
    }

    &.p-disabled *.p-disabled {
        opacity: 1;
    }
}
