.p-password {
    &.p-invalid.p-component > .p-inputtext {
        @include invalid-input();
    }

    .p-input-icon {
        cursor: pointer;

        color: $inputIconColor;
        right: .75rem;
    }

    &.p-disabled {
        opacity: 1;

        .p-input-icon {
            opacity: $disabledOpacity;
        }
    }
}

.p-password-input {
    width: 100%;
    height: 100%;
}

.p-password-panel {
    color: $inputListTextColor;

    padding: $inputPaddingLeftRight;
    margin-top: $inputListPadding;

    border: $inputOverlayBorder;
    border-radius: $borderRadius;

    background: $inputOverlayBg;
    box-shadow: $inputOverlayShadow;

    .p-password-meter {
        overflow: hidden;

        height: .5rem;

        border-radius: 1rem;
        margin-bottom: $inlineSpacing;
        background: $passwordMeterBg;

        .p-password-strength {
            &.weak {
                background: $passwordWeakBg;
            }

            &.medium {
                background: $passwordMediumBg;
            }

            &.strong {
                background: $passwordStrongBg;
            }
        }
    }
}
