.p-selectbutton {
    height: min-content;
    gap: $selectButtonGroupPadding;

    padding: $selectButtonGroupPadding;
    background-color: $selectButtonGroupBg;
    border-radius: $borderRadius;

    .p-button {
        flex-grow: 1;

        background: $selectButtonBg;
        border: $selectButtonBorder;
        border-radius: $selectButtonBorderRadius;
        color: $selectButtonTextColor;
        transition: $formElementTransition;

        .p-button-icon-left,
        .p-button-icon-right {
            color: $selectButtonIconColor;
        }

        &.p-disabled {
            background: transparent;
        }

        &:not(.p-disabled):not(.p-highlight):hover {
          @include media-hover {
            background: $selectButtonHoverBg;
            border-color: $selectButtonHoverBorderColor;
            color: $selectButtonHoverTextColor;

            .p-button-icon-left,
            .p-button-icon-right {
              color: $selectButtonIconHoverColor;
            }
          }
        }

        &:not(.p-disabled).p-highlight {
            background: $selectButtonActiveBg;
            border-color: $selectButtonActiveBorderColor;
            color: $selectButtonActiveTextColor;

            .p-button-icon-left,
            .p-button-icon-right {
                color: $selectButtonIconActiveColor;
            }

            &:hover {
              @include media-hover {
                background: $selectButtonActiveHoverBg;
                border-color: $selectButtonActiveHoverBorderColor;
                color: $selectButtonTextActiveHoverColor;

                .p-button-icon-left,
                .p-button-icon-right {
                  color: $selectButtonIconActiveHoverColor;
                }
              }
            }
        }
    }

    &.p-invalid > .p-button {
        @include invalid-input();
    }
}
