.p-contextmenu {
	[class*="list"] {
		min-width: $menuWidth;

		border-radius: $borderRadius;
		border: $overlayMenuBorder;

		padding: $overlayMenuPadding;

		background-color: $overlayMenuBg;
		box-shadow: $overlayMenuShadow;

		z-index: 2;
	}

	[class*="list"]:not([class*="root"]) {
		margin-top: -$menuitemSpacing;
		margin-left: $menuitemSpacing;
	}
	

	@include menuitem();
	@include menuitem-separator();	
	
	
	// Фикс стиля disabled
    .p-menuitem[data-p-disabled="true"] {
		.p-disabled {			
			opacity: $disabledOpacity; // Костыль на прозначность
		}
	}

	@media screen and (max-width: 767px) {
		[aria-expanded="true"] {
			& > .p-menuitem-content .p-submenu-icon {
				transform: rotate(90deg);
			}
		}
		
		[class*="list"]:not([class*="root"]) {
			border-radius: 0;
			border: none;

			padding-left: $menuNodeChildrenPadding !important; // простити

			margin: 0;
			margin-top: $menuitemSpacing;
			
			background-color: transparent;
			box-shadow: none;
		}
	}
}
