.p-megamenu {
    [class*="header"] {
        color: $submenuHeaderTextColor;
        font-size: $submenuHeaderFontSize;
        font-weight: $submenuHeaderFontWeight;
        text-transform: uppercase;

        padding: $menuitemPadding;

        border: 1px solid transparent;
        border-radius: $submenuHeaderBorderRadius;

        background-color: $submenuHeaderBg;

        &[data-p-disabled="true"] {
            color: $disabledButtonTextColor;

            background-color: $disabledButtonBg;
            border-color: $disabledButtonBorderColor;
        }
    }

    [class*="grid"] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: $menuitemSpacing;

        width: max-content;

		border-radius: $borderRadius;
		border: $overlayMenuBorder;

        padding: $overlayMenuPadding;

		background-color: $overlayMenuBg;
		box-shadow: $overlayMenuShadow;
    }
    
    [class*="col"] {
        display: flex;
        flex-grow: 1;

        width: auto;

        padding: 0;
    }

    @include menuitem();
	@include menuitem-separator();
}

.p-megamenu-horizontal {
    display: flex;

	[class*="root"] {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: $menuitemSpacing;

		& > .p-menuitem {
			margin: 0;
		}
    }
    
    [class*="grid"] {
        margin-top: $menuitemSpacing;
    }
}

.p-megamenu-vertical {
    display: flex;

    [class*="root"] {
        display: flex;
        flex-direction: column;
    }

    [class*="grid"] {
        margin-left: $menuitemSpacing;
    }
}

@media screen and (max-width: 960px) {
	.p-megamenu {
		position: relative;

		.p-megamenu-button {
			display: flex;

			@include action-icon(false);
			transition: $actionIconTransition;
		}

		[aria-expanded="false"] + [class*="root"] {
			display: none;
		}

		[class*="root"] {
			position: absolute;
			left: 0;
			top: 100%;

			display: flex;
			flex-direction: column;

			min-width: $menuWidth;

			border-radius: $borderRadius;
			border: $overlayMenuBorder;

			padding: $overlayMenuPadding;
			margin-top: $menuitemSpacing;

			background-color: $overlayMenuBg;
			box-shadow: $overlayMenuShadow;

			z-index: 2;
		}

		[class*="panel"] {
			width: 100%;
			position: static;
        }
        
        [class*="grid"] {
            display: flex;
            flex-direction: column;
            
            border: none;
			border-radius: 0;

			margin: 0 !important;
			padding: $overlayMenuPadding 0 0 $menuNodeChildrenPadding;

            box-shadow: none;
            
            [class*="list"] {
                width: 100%;
            }
        }
    }
    
    .p-megamenu-horizontal {
        [aria-expanded="false"] {
            .p-submenu-icon {
                transform: rotate(-90deg);
            }
        }
    }

    .p-megamenu-vertical {
        [aria-expanded="true"] {
            .p-submenu-icon {
                transform: rotate(90deg);
            }
        }
    }
}

