.p-menu {
    [class*="header"] {
        color: $submenuHeaderTextColor;
        font-size: $submenuHeaderFontSize;
        font-weight: $submenuHeaderFontWeight;
        text-transform: uppercase;

        padding: $menuitemPadding;

        border: 1px solid transparent;
        border-radius: $submenuHeaderBorderRadius;

        background-color: $submenuHeaderBg;

        &[data-p-disabled="true"] {
            color: $disabledButtonTextColor;

            background-color: $disabledButtonBg;
            border-color: $disabledButtonBorderColor;
        }
    }

    @include menuitem();
    @include menuitem-separator();

    // Фикс стиля disabled
    .p-menuitem[data-p-disabled="true"] {
		.p-disabled {
			opacity: $disabledOpacity; // Костыль на прозначность
		}
    }    
}

.p-menu-overlay {
    min-width: $menuWidth;

    border-radius: $borderRadius;
    border: $overlayMenuBorder;

    padding: $overlayMenuPadding;

    background-color: $overlayMenuBg;
    box-shadow: $overlayMenuShadow;

    z-index: 2;
}
