.p-tieredmenu {
    display: flex;

	[class*="root"] {
		display: flex;
		flex-direction: column;
    }

    [data-pc-section="submenu"] {
        min-width: $menuWidth;

		border-radius: $borderRadius;
		border: $overlayMenuBorder;

        padding: $overlayMenuPadding;

        margin-top: -$menuitemSpacing;
        margin-left: $menuitemSpacing;

		background-color: $overlayMenuBg;
		box-shadow: $overlayMenuShadow;

		z-index: 2;
    }

    @include menuitem();
	@include menuitem-separator();
}
